header{
	background: #01474a;
}
.admin-wrapper{
	display: flex;
	height: calc(100% - 66px);
}
.admin-wrapper .left-sidebar{
	flex: 2;
	height: 100%;
	background: #234a57;
}
.admin-wrapper .left-sidebar ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	
}
.admin-wrapper .left-sidebar ul li a{
	padding: 20px;
	display: block;
	border-bottom: 1px solid #004044;
	color: aliceblue;
}
.admin-wrapper .left-sidebar ul li a:hover{
	background-color: #004044;
	transition: all 0.3s;
}

.admin-wrapper .admin-content{
	flex: 8;
	height: 100%;
	padding: 100px;
}
.admin-content .page-title{
	text-align: center;
	margin-bottom: 1.5rem;
}
table{
	width: 100%;
	border-collapse: collapse;
	font-size: 1.1rem;
}
th, 
td{
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #d3d3d3;
}
.edit{
	color: green;
}
.delete{
	color: red;
}
.publish{
	color: blue;
}
.edit:hover,
.delete:hover,
.publish:hover{
	text-decoration: underline;
}
form div{
	margin-bottom: 15px;
}
























